*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.footer{
    width:100vw;
    height:300px;
    background-color:rgb(64, 64, 86);
    display:flex;
    justify-content:space-around;
    align-items:center;
    

}

.copyright p{
    color:#fff;
}

.links{
    color:#fff;
 
    

}




