*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.category_container{
   width:84vw;
   height:100%;
   float:right;
   background:#f1f1f1;
   border:1px solid #ccc;

}

.category_main{
    height:100vh;
    padding:20px;
    display:flex;
    justify-content:space-between;
    /* align-items:center; */
    background:#f1f1f1;
    gap:4px;
    flex-wrap:wrap;
    margin:10px;
    border:1px solid #ccc;


}

.category_container .category_main .category_form{
    background:#fff;
    width:20vw;
    height:200px;
    /* background-color:gray; */
    border:1px solid #ccc;
    padding:20px;
}



.category_container .category_main .category_form .submit_group{
    display:flex;
    justify-content:flex-start;
    gap:20px;
}
.category_form .submit_group input[type="submit"]{
    width:40%;
    padding:4px;
    margin:10px 0px;
    height:40px;
    border:1px solid #ccc;
    border-radius:4px;

}

.category_form .submit_group [type="submit"]:hover{
    background:#C3DBD9;
    cursor:pointer;
}


.category_container .category_main .category_form h4{
    font-size:19px;
    color:#444;
    margin-bottom:10px;
    background:#ddd;
    padding:6px;
}



.category_container .category_main .category_form input[type="name"]{
    width:100%;
    padding:4px;
    margin:10px 0px;
    height:40px;
    border:1px solid #ccc;
    border-radius:4px;

    


}

.category_container .category_main .categorylist{
    background:#fff;
    width:53vw;
    height:100%;
    /* background-color:gray; */
    border:1px solid #ccc;
}

.category_container .category_main .categorylist form input[type="search"]{
    width:50%;
    height:40px;
    border-radius:5px;
    padding:10px;
    margin:10px;
    border:1px solid #ccc;    
}




.category_container .category_main .categorylist form input[type="submit"]{

}

.category_container .category_main .categorylist h2{
    color:#444;
    background-color:#CDB699;
    text-align:center;
}

.category_container .category_main .categorylist table{
    width:100%;
    height:auto;
    border-collapse:collapse;
    
}


.category_container .category_main .categorylist table thead tr td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:20px 0px;
    font-weight:600;
    font-size:16px;
    color:grey;
    padding:15px;

}

.category_container .category_main .categorylist table tbody tr td{
    border-bottom:1px solid #ccc;
    text-align:left;
    padding:15px;

}

.categorylist .category_form input[type="search"]{
    width:50%;
    height:40px;

}

.categorylist .category_form input[type="submit"]{
    width:10%;
    height:40px;

}

